/* # # # # # # # #  INIT   # # # # # # # # # # # # # # # # #  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  flex: 0 0 auto;
  /* fait que les padding n'ont pas d'effet */
  font-family: "Roboto", sans-serif;
}
a {
  color: black;
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

body {
  background-color: #fafafa;
}

/* Content between header and Footer */
main {
  min-height: calc(100vh - 186px);
}

/* # # # # # # # #   FOOTER   # # # # # # # # # # # # # # # # #  */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(83, 82, 82);
  height: 70px;
  color: rgb(126, 124, 124);
}

/* # # # # # # # #   HEADER   # # # # # # # # # # # # # # # # #  */

.header {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-shadow: 4px 4px 10px #cdcccc;
}

/* + et Deposer une annonce */
.header > div:nth-child(2) {
  background-color: #f56b2a;
  color: white;
  padding: 6px;
  margin: 0px 40px 0px 40px;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

/* se connecter */
.header > div:nth-child(5) {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 100px;
}
.header > div:nth-child(5):hover {
  cursor: pointer;
  transform: scale(1.1);
}

/* # # # # # # # #   ALL FORMS   # # # # # # #  */

/* Form contenair */
.formpage {
  display: flex;
  justify-content: center;
  margin: 60px 0px 60px 0px;
  height: 100%;
}

form {
  background-color: white;
  box-shadow: 4px 4px 10px #cdcccc;
  padding: 50px;
  border-radius: 5px;
}

hr {
  background: #f56c2a;
  height: 5px;
  border: 0px;
  margin: 10px 0px 25px 0px;
}

h1 {
  font-size: 1.3rem;
}

h2 {
  font-size: 0.8rem;
  font-weight: normal;
}

input {
  margin: 5px 0px 20px 0px;
  border-radius: 3px;
  border: solid 1px rgb(214, 211, 211);
  font-size: 0.8rem;
  width: 100%;
  padding: 6px;
}
input[type="submit"] {
  background-color: #4083d7;
  color: white;
  padding: 10px;
  font-size: 1rem;
  font-weight: bold;
  margin: 10px 0px 20px;
}
input[type="submit"]:hover {
  cursor: pointer;
}

/* # # # # # # # #   MODAL LOG BOX FORM   # # # # # # # # # # # # # # # # #  */

.blackbox {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 999;
  animation: fadeinblackbox 0.5s;
}

@keyframes fadeinblackbox {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Special position for the modal Form */
.formlogbox {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1001;
  box-shadow: 0px 0px 0px 0px;
  animation: fadeinform 0.5s;
}
@keyframes fadeinform {
  0% {
    opacity: 0.5;
    transform: translate(-50%, -100%);
  }
  30% {
    opacity: 0.8;
    transform: translate(-50%, -40%);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

/* Button Créer un compte */
.formlogbox button {
  font-size: 1.5rem;
  width: 100%;
  color: #4083d7;
  border: 1px solid #4083d7;
  padding: 5px;
}
.formlogbox button:hover {
  cursor: pointer;
}

/* # # # # # # # #   SIGN UP FORM   # # # # # # # # # # # # # # # # #  */

/* les deux mots de passe */
.passwordbox {
  display: flex;
  justify-content: space-between;
}
.passwordbox input {
  width: 110px;
}

.conditions {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 0.7rem;
}

/* # # # # # # # #   DEPOSER UNE ANNONCE FORM   # # # # # # # # # # # # # # # # #  */

.dropZone {
  background-color: rgb(215, 215, 215);
  padding: 30px;
  color: rgb(139, 137, 137);
  border-radius: 5px;
  height: 50px;
  width: 100%;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
}

.imageDropzone {
  width: 50px;
}

/* # # # # # # # #   SEARCH BAR   # # # # # # # # # # # # # # # # #  */

.searchbar {
  /* height: 200px; */
  /* transform: translate(0px, -50px); */
  position: relative;
  /* bottom: 0px; */
  /* z-index: 200; */
  background-color: blue;
}

.orangeEllipse {
  background-color: #f56b2a;
  height: 200px;
  width: 200%;

  position: absolute;
  top: -140px;
  left: -50%;
  border-radius: 70%;
  z-index: -1;
}

/* Rechercher */
.searchbar > form {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 30px;
  transform: translate(-50%);
  padding: 15px 80px 15px 80px;
  background-color: white;
  margin: none;
  border: solid 1px;
  /* z-index: 30; */
}

/* input*/
.searchbar input {
  padding: 5px;
  margin-bottom: 10px;
  margin-top: 0px;
}
/* submit*/
.searchbar input[type="submit"] {
  padding: 5px;
  margin: 0;
  font-size: 0.7rem;
}

/* # # # # # # # #   OFFERS   # # # # # # # # # # # # # # # # #  */

.offers {
  padding: 150px 90px 50px 90px;
}

/* Le conteneur contraint la hauteur de tout */
.offersitem {
  background-color: white;
  height: 180px;

  display: flex;
  margin: 0px 0px 30px 0px;
  box-shadow: 4px 4px 10px #cdcccc;
  border-radius: 7px;
  overflow: hidden;
}

.offersitem:hover {
  box-shadow: 8px 8px 10px #cdcccc;
}

.offersitem > picture {
  background-color: #cad1d9;
  width: 240px;
  /* la hauteur sadapte au parent */
}

.offersitem > picture > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.offersitem > nav {
  /* background-color: rgb(249, 179, 179); */
  display: flex;
  flex-direction: column;
  padding: 10px 0px 10px 0px;
  padding-left: 20px;
}

.offersitem > nav > span:nth-child(1) {
  font-size: 22px;
}
.offersitem > nav > span:nth-child(2) {
  font-size: 20px;
  margin-top: 10px;
  color: #f56b2a;
}
.offersitem > nav > span:nth-child(3) {
  font-size: 16px;
  /* background-color: brown; */
  margin-top: auto;
}

/* # # # # # # # #   PAGINATION   # # # # # # # # # # # # # # # # #  */

.offers ul {
  display: flex;
  /* margin: auto; */
}

.offers ul > li {
  margin: 0 5px;
}
.offers ul > li:hover {
  cursor: pointer;
}

/* # # # # # # # #   ONE OFFER   # # # # # # # # # # # # # # # # #  */

.back {
  font-size: 1.5rem;
  margin: 10px;
}

.oneoffer {
  /* background-color: red; */
  padding-left: 220px;
  padding-top: 60px;
  padding-bottom: 100px;
}

/* BLock contains image and description. fixed size */
.descriptionblock {
  width: 700px;
}

/* Image contenair and image */
.descriptionblock > div {
  height: 400px;
}
.descriptionblock img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* /* Bloc name price and date */
.descriptionblock > ul {
  height: 150px;
  padding: 15px;

  box-shadow: 4px 4px 10px #cdcccc;
}

/* Title */
.descriptionblock > ul > span:nth-child(1) {
  font-size: 22px;
}

/* Price */
.descriptionblock > ul > span:nth-child(3) {
  font-size: 20px;
  margin-top: 10px;
  color: #f56b2a;
}

/* Date */
.descriptionblock > ul > span:nth-child(5) {
  font-size: 20px;
  margin-top: 10px;
  /* background-color: red; */
}

/* Description title */
.descriptionblock > h2 {
  font-size: 1.5rem;
  margin: 15px;
}
